{% extends 'layout.html' %}
{% block content %}

<style>
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
  }

  .home-container h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #2c3e50;
  }

  .home-container a {
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .home-container a:hover {
    background-color: #2980b9;
  }
</style>

<div class="home-container">
  <h3>Climate Conditions and Disaster Forecasting</h3>
  <a href="{{ url_for('predict') }}">Go to Prediction Page</a>
</div>

{% endblock content %}
